<div class="pagina1">
    <h3>vehiculos terrestres de carga</h3>
    <div class="contenedor">
        <div class="card">
            <img src="img/img1.jpg" alt="">
            <p>vehiculos de carga</p>
        </div>
        <div class="card">
            <img src="img/img2.jpg" alt="">
            <p>vehiculos de carga</p>
        </div>
        </div>  
    </div>
</div>