<div class="panels">
    <h3>Panels</h3>
     <div class="card">
            <img src="img/panels.jpg" alt="">
            <p>Caracteristicas</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo voluptatibus perspiciatis repudiandae minima, maxime nesciunt, expedita dolore facere quis assumenda aliquid numquam neque qui consectetur debitis corrupti sint voluptate accusamus.</p>
        </div>
</div>